<h1>
  Recommended Bands
</h1>
<audio controls>
    <source src="/bensound-rumble.mp3" type="audio/mpeg" />
    <source src="/bensound-rumble.ogg" type="audio/ogg" />
    Your browser does not support audio
</audio>
<small id="bensound">Royalty free music: <a href="https://www.bensound.com">Bensound</a></small>
<table class="container table table-striped">
    <tr>
      <th scope="col">Band Name</th><th scope="col">Country</th><th scope="col">Members</th><th scope="col">Genre</th>
    </tr>
    <% for band in @bands %>
      <tr>
        <td scope="row"><%= band.name %></td>
        <td><%= band.country %></td>
        <td><%= band.members %></td>
        <td><%= band.genre %></td>
      </tr>
    <% end %>
</table>
