<h1>
  Recommended Bands
</h1>
<table class="container table table-striped">
    <tr>
      <th scope="col">Band Name</th><th scope="col">Country</th><th scope="col">Members</th><th scope="col">Genre</th>
    </tr>
    <% for band in @bands %>
      <tr>
        <td scope="row"><%= band.name %></td>
        <td><%= band.country %></td>
        <td><%= band.members %></td>
        <td><%= band.genre %></td>
      </tr>
    <% end %>
</table>
