<div class="container">
  <h1>
    What is Dan's Music Site?
  </h1>
  <p id="intro">
    Dan's Music Site is a fictional user recommendation website devised for a cloud college project. (Nothing on this website is true!). There is no need to sign up or login, just head to the "Bands" page (see above) and view bands and artists that other people recommended. You can also add your own band or artist recommendation. Just head over to the "Add a new Band" page and fill in the form. Founded in 2022 by Daniel an avid music fan.
  </p>
  <div class="container">
      <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/fifth.jpg" alt="Fake Rise Against Concert Image" class="d-block" style="width:100%;height:500px;">
          <div class="carousel-caption">
            <h3>Rise Against</h3>
            <p>We love the Vans Warped Tour!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/sixth.jpg" alt="Fake Metallica Concert Image" class="d-block" style="width:100%;height:500px;">
          <div class="carousel-caption">
            <h3>Metallica</h3>
            <p>Enter Sandman!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/seventh.jpg" alt="Fake Green Day Concert Image" class="d-block" style="width:100%;height:500px;">
          <div class="carousel-caption">
            <h3>Green Day</h3>
            <p>We don't want to be an American idiot!</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>


  </div>
  <div class="container">
    <div class="row quote">
      <blockquote cite="http://www.notable-quotes.com/l/lytton_edward_bulwer_ii.html">
        Music, once admitted to the soul becomes ... a sort of spirit, and never dies. It wanders perturbedly through the halls and galleries of the memory.
      </blockquote>
      <span>
        Edward G. Bulwer-Lytton
        <%# reference: http://www.notable-quotes.com/l/lytton_edward_bulwer_ii.html %>
      </span>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
