
  <body>
    <nav id="nav-container" class="navbar navbar-expand-sm navbar-light bg-primary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img id="logoNav" src="/images/guitar192x192.webp" alt="logo that shows a guitar"></a>
          <ul id="navUl" class="navbar-nav container-fluid d-flex justify-content-around">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bands</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Add a new band</a>
            </li>
          </ul>
      </div>
    </nav>
  </body>
