<div class="container">
  <h1>
    What is Dan's Music Site?
  </h1>
  <p id="intro">
    Dan's Music Site is a fictional user recommendation website devised for a cloud college project. (Nothing on this website is true!). There is no need to sign up or login, just head to the "Bands" page (see above) and view bands and artists that other people recommended. You can also add your own band or artist recommendation. Just head over to the "Add a new Band" page and fill in the form. Founded in 2022 by Daniel an avid music fan.
  </p>
</div>
